<h1>{{name}}</h1>
<hr />
<p>description: {{description}}</p>
<div class="rating">
  <input type="radio" id="star5" name="rating" value="{{rating}}" />
  <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
  <input type="radio" id="star4" name="rating" value="{{rating}}" />
  <label class="star" for="star4" title="Great" aria-hidden="true"></label>
  <input type="radio" id="star3" name="rating" value="{{rating}}" />
  <label class="star" for="star3" title="Good" aria-hidden="true"></label>
  <input type="radio" id="star2" name="rating" value="{{rating}}" />
  <label class="star" for="star2" title="Ok" aria-hidden="true"></label>
  <input type="radio" id="star1" name="rating" value="{{rating}}" />
  <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
</div>
<a href="/restaurant-edit/{{_id}}">Edit restaurant</a>
<br />
<br />
<form action="/restaurant-delete/{{_id}}" method="post">
  <button type="submit">Delete restaurant</button>
</form>