<h1>{{restaurant.name}}</h1>

<hr />

<p>description: {{restaurant.description}}</p>

<div class="rating">
  <input type="radio" id="star5" name="rating" value="5" />
  <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
  <input type="radio" id="star4" name="rating" value="4" />
  <label class="star" for="star4" title="Great" aria-hidden="true"></label>
  <input type="radio" id="star3" name="rating" value="3" />
  <label class="star" for="star3" title="Good" aria-hidden="true"></label>
  <input type="radio" id="star2" name="rating" value="2" />
  <label class="star" for="star2" title="Ok" aria-hidden="true"></label>
  <input type="radio" id="star1" name="rating" value="1" />
  <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
</div>

<a href="/restaurant-edit/{{restaurant._id}}">Edit restaurant</a>

<br />
<br />

<form action="/restaurant-delete/{{_id}}" method="post">

  <button type="submit">Delete restaurant</button>

</form>

<hr />

<h4>Leave a comment</h4>

<form action="/comment/create/{{restaurant._id}}" method="post">

  <input type="text" name="placeId" id="placeId" hidden />

  <select name="author">
    {{#each users}}
      <option value="{{_id}}">{{username}}</option>
    {{/each}}
  </select>

  <label for="content"></label>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>
  <button type="submit">Comment</button>
</form>

<hr />

{{#each restaurant.comments}}
  <div>
    <p><span>By {{author.username}}: </span>{{content}}</p>
    <form action="/comment/delete/{{_id}}" method="post">
      <button type="submit">X</button>
    </form>
  </div>
{{/each}}