<div class="hero-image hero-my-restaurants">
  <div class="hero-text">
    <h1>{{restaurant.name}}</h1>
  </div>
</div>


<div class="custom-shape-divider-bottom-1668019210">
  <svg
    data-name="Layer 1"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>

<br />
<br />

<div class="row-restaurants">
  <div class="column column-left">
    <div class="column-inner">
      <img
        src="{{restaurant.imgRestaurant}}"
        width="100%"
        height="auto"
        id="imgRestaurant"
        class="scale-center"
      />
    </div>
  </div>
  <div class="column column-right">
    <div class="column-inner">
    <img
      class="card__thumb slide-bottom"
      src="/images/restaurante-list_icon.png"
      alt=""
    />
    <h1>{{restaurant.name}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <a href="/review-create/{{restaurant._id}}" class="button-5">Add Restaurant</a>
    </div>
  </div>
</div>

<br />
<br />

<embed class="map" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBTglNnXapmziUofnsiT1-pAufIijQdzZc&q=place_id:{{restaurant.placeId}}"></embed>

<br />
<br />

  <div class="user-comment-box">
    <h1>Leave a comment</h1>

    <form action="/comment/create/{{restaurant._id}}" method="post">

      <input type="text" name="placeId" id="placeId" hidden />
      <label for="content"></label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
      <button type="submit" class="button-5">Add Comment</button>
    </form>
  </div>
<br />
<br />

<hr />

<br />
<br />

{{#each restaurant.comments}}
  <div class="user-comments">
    <img src="{{author.imageUrl}}" alt="">
    <form action="/comment/delete/{{_id}}/{{../restaurant._id}}" method="post">
      <button type="submit">X</button>
    </form>
    <p>By: <span>{{author.username}}</span></p>
    <p>{{content}}</p>
  </div>
{{/each}}