<h1>{{restaurant.name}}</h1>

<hr />

<br />
<br />

<img
  src="{{restaurant.imgRestaurant}}"
  width="300"
  height="300"
  id="imgRestaurant"
/>

<br />
<br />
<div id="map" style="height: 250px"></div>

<form action="/restaurant-create" method="post" class="flex-form">
    <input type="submit" value="Next" />
</form>

<hr />

<h4>Leave a comment</h4>

<form action="/comment/create/{{restaurant._id}}" method="post">

  <input type="text" name="placeId" id="placeId" hidden />
  <label for="content"></label>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>
  <button type="submit">Comment</button>
</form>

<hr />

{{#each restaurant.comments}}
  <div>
    <p><span>By {{author.username}}: </span>{{content}}</p>
    <form action="/comment/delete/{{_id}}/{{../restaurant._id}}" method="post">
      <button type="submit">X</button>
    </form>
  </div>
{{/each}}