<h1>{{restaurant.name}}</h1>

<hr />

<br />
<br />
<input type="text" name="name" id="autocomplete" value="" />

<br />
<br />
<img
  src="{{restaurant.imgRestaurant}}"
  width="300"
  height="300"
  id="imgRestaurant"
/>

<br />
<br />
<div id="map"></div>

<br />
<br />

{{#each reviews.restaurant}}
  <p>Name: {{restaurant.name}}</p>
{{/each}}

<p>description: {{review.description}}</p>

<div class="rating">
  <input type="radio" id="star5" name="rating" value="5" />
  <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
  <input type="radio" id="star4" name="rating" value="4" />
  <label class="star" for="star4" title="Great" aria-hidden="true"></label>
  <input type="radio" id="star3" name="rating" value="3" />
  <label class="star" for="star3" title="Good" aria-hidden="true"></label>
  <input type="radio" id="star2" name="rating" value="2" />
  <label class="star" for="star2" title="Ok" aria-hidden="true"></label>
  <input type="radio" id="star1" name="rating" value="1" />
  <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
</div>

<a href="/review-edit/{{review._id}}">Edit Review</a>

<br />
<br />

<form action="/review-delete/{{_id}}" method="post">

  <button type="submit">Delete Review</button>

</form>

<script>
  function result2() { document.getElementById("autocomplete").value = "{{restaurant.name}}";
  } function result1() { document.getElementById("autocomplete").value = "bla";
  setInterval(result2, 1000); } document.addEventListener('DOMContentLoaded',
  function() { document.getElementById("autocomplete").value = "{{restaurant.name}}";
  setInterval(result1, 1000); });
</script>